<div class="qty-input">      
    <span class="qty-input__icon">
        {% include 'icon-minus' %}
    </span>
    <input class="qty-input__input" type="number" value="{{ info_qtd }}">                      
    <span class="qty-input__icon"> 
        {% include 'icon-plus' %}
    </span>
</div>