<div class="qty-input">      
    <span class="qty-input__icon">
        {% include 'icon-minus' %}
    </span>
    
    {% comment %} 
    <input class="qty-input__input" type="number" {% if info_qtd != blank %}value="{{ info_qtd }}"{% endif %} >  
    {% endcomment %}

    <input id="updates_{{ item.key }}" class=" qty-input__input" type="number" 
        {% if info_qtd != blank %} value="{{ info_qtd }}"{% endif %} 
        min="0" pattern="[0-9]*"
         data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-mobile
    >

    <span class="qty-input__icon"> 
        {% include 'icon-plus' %}
    </span>
</div>